[package]
name = "stable-channels"
version = "0.1.0"
edition = "2021"

[features]
exchange = []
user = []
lsp = []

[dependencies]
lightning-liquidity = "0.1.0-alpha.4"
ldk-node="0.3.0"
reqwest = { version = "0.11", features = ["blocking", "json"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
retry = "1.3"
futures = "0.3"
async-trait = "0.1"
hex = "0.4.3"